body{
	font-family: "Times New Roman", sans-serif;
    font-style: italic;
    color: crimson;
    font-size: 100%;
    margin: 0px auto;
    border: 5px solid black;
    border-top: 5px solid black;
    padding: 2em;
    }

h1{
	margin: 0;
    color: blue;
    font-size: 200%;
    padding: .25em;
    text-align: center;
}

img{    
    float:right;
    width: 50%;
    padding: 10px;
    margin: auto;        
}

.clearfix{    
    overflow: hidden;    
}

/*p{
	font-family: verdana;
	font-size: 20px;
}*/